$cor: #001f3f;
$cor-txt: #111;

@import 'compass',
        '_fonts.global';



.title{
    color: #444;
    font-family: 'simplifica';
    text-align: center
}
.body{
//  background: url(../img/bg.jpg) no-repeat;
//    background-size: cover;
}
.box-content{
    display: none;
}
.content-title{
    min-height: 15%;
    min-height: 15vh;
}
.content-social{
    min-height: 85%;
    min-height: 85vh;
    text-align: center;
}
.menu-contato{
    color: #222;
}
/*Menu*/
//.btn-menu{
//    position: relative;
//    z-index: 3;
//}